version: '3.9'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: auction_db
      POSTGRES_USER: auction_user
      POSTGRES_PASSWORD: auction_pass
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  app:
    build: .
    depends_on:
      - db
      - redis
    environment:
      PORT: 4000
      DATABASE_URL: postgres://auction_user:auction_pass@db:5432/auction_db
      REDIS_URL: redis://redis:6379
      JWT_SECRET: supersecretjwt
      JWT_EXPIRES_IN: 1h
    ports:
      - '4000:4000'

volumes:
  db_data:

